ErrorDocument 404 /index.php?404 

# deny access to the top-level git repository:
RewriteEngine On
RewriteRule \.git - [F,L]

RewriteBase /
RewriteCond %{HTTP_HOST} !^.*(localhost)|(ubuntu)|(mute.local).*$ [NC]
RewriteCond %{HTTP_HOST} !^camelize.com$ [NC]
RewriteRule ^(.*)$ http://camelize.com/$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^.*/index\.php
RewriteRule ^(.*)index\.php$ /$1 [R=301]


