/*
 Color Scheme:
  Teal: #51CBEE
  Greys: #555, #777, #999
*/

html,body{margin:0;padding:0;text-align: center;}
p, h1, h2, h3, h4, a, li, ul, ol, span, table, form, div{ text-align: left; }

a:link, a:active, a:visited{
  color: #51CBEE;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body{
  background-color: #FFF;
  background-image: url('background.jpg');
  color: #555;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  line-height: 16px;
}

.clear{
  clear: both;
}

#content{
  width: 600px;
  margin: 0 auto 100px auto;
  background-color: #777;
  color: #FFF;
  padding: 10px 10px 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  position: relative;
  box-shadow: 3px 3px 3px #555;
  -moz-box-shadow: 3px 3px 3px #555;
  -webkit-box-shadow: 3px 3px 3px #555;
}

#camelize{
  width: 99%;
  height: 45px;
  border: 3px solid rgba(81, 203, 238, 0);
  color: #555;
  font-family: Georgia, Times, serif;
  font-size: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  box-shadow: 3px 3px 3px #555;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

#camelize:focus{
  border: 3px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

#result{
  height: 200px;
  width: 100%;
  background-color: #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin: 10px 0 0 0;
  -moz-box-shadow:inset 3px 3px 3px #555;
  -webkit-box-shadow:inset 3px 3px 3px #555;
  box-shadow:inset 3px 3px 3px #555;
  font-family: "Courier New", Courier, mono;
  font-size: 40px;
  line-height: 43px;
  padding: 40px 0;
  text-align: center;
}

a#question{
  position: absolute;
  right: 0;
  top: 0;
}

#footer{
  margin: 5px 0;
  height: 20px;
  position: relative;
}

#logo{
  position: relative;
  width: 600px;
  margin: 100px auto 0 auto;
  height: 60px;
}

#logo img{
  position: absolute;
  bottom: 0;
  right: 0;
}